@model WebRepuestosOrellana.Models.Producto

@{
    ViewBag.Title = "Details";
}

<h2>Detalle</h2>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoProducto.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoProducto.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar","Edit", new { id = Model.ID }) |
    @Html.ActionLink("Volver", "Index")
</p>
