@model IEnumerable<WebRepuestosOrellana.Models.Producto>

@{
    ViewBag.Title = "Index";
}

<h2>PRODUCTOS</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
        Crear Nuevos Productos

    </a>
    <a href="@Url.Action("StockActual/1", "Print")" class="btn btn-danger">
        <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
        Stock Actual PDF
    </a>
    <a href="@Url.Action("StockActual/2", "Print")" class="btn btn-success">
        <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>
        Stock Actual Excel
    </a>

    <a href="@Url.Action("Transacciones/1", "Print")" class="btn btn-danger">
        <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
        Transacciones PDF
    </a>
    <a href="@Url.Action("Transacciones/2", "Print")" class="btn btn-success">
        <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>
        Transacciones Excel
    </a>

</p>
<table class="table">
    <tr>
        <th>
           Tipo
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TipoProducto.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
          Q  @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.ID }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.ID }, new { @class = "btn btn-success" }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
