@model WebRepuestosOrellana.Models.Venta

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Venta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Cliente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
    </dl>
    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio Unitario</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var linea in Model.VentaLineas)
                {
                <tr>
                    <td>@linea.Producto</td>
                    <td>@linea.Cantidad</td>
                    <td>@linea.Precio</td>
                    <td>@(linea.Precio * linea.Cantidad)</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<p>
    <a href="@Url.Action("Index")" class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        Volver
    </a>
    
    <a href="@Url.Action($"Venta/{Model.ID}", "Print")" target="_blank" class="btn btn-success">
        <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
        Imprimir
    </a>
</p>
