@model IEnumerable<WebRepuestosOrellana.Models.Venta>

@{
    ViewBag.Title = "Index";
}

<h2>Venta</h2>

<p>
    @Html.ActionLink("Crear Nueva Venta", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Cliente
        </th>
        <th>
            Usuario
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCreacion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.ID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
